{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>College Panel&mdash;Free version</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %} ">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %} ">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %  } ">
    <link rel="stylesheet" href=" {% static 'css/owl.theme.default.min.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/jquery.fancybox.min.css' %} ">

    <link rel="stylesheet" href=" {% static 'css/bootstrap-datepicker.css' %} ">
    <link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %} " integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'fonts/flaticon/font/flaticon.css' %} ">
    <!-- thsi -->
    <!-- <link rel="stylesheet" href="{% static 'css/aos.css' %} "> -->

    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container-fluid" id="u">
                <div class="d-flex align-items-center">
                    <div class="site-logo mr-auto w-auto"><a href="{% url 'clghome' %} ">College Panel-edufusion.me</a></div>


                    <div class="mx-auto text-center">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                                <li><a href="{% url 'clghome' %} " class="nav-link">Home</a></li>
                                <li><a href="{% url 'dashboard' %} " class="nav-link">Dashboard</a></li>
                                <li><a href="#programs-section" class="nav-link">Programs</a></li>
                                <li><a href="#teachers-section" class="nav-link">Teachers</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="ml-auto w-25">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                                <li class="cta"><a href="{% url 'clghome' %}" class="nav-link"><span>Contact Us</span></a></li>
                            </ul>

                        </nav>
                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right">
                            <span class="icon-menu h3"></span>
                        </a>
                    </div>



                </div>
            </div>

        </header>



        {% block ad %} {% endblock %}



        <footer class="footer-section bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>About COLLEGE PANEL</h3>
                        <p>College Panel is a Web Service being provided by <a href="{% url 'clghome' %}">edufusion.me</a> for free to the students and teachers. Teachers over here can provide the Notes take attendence According to the need . This is real
                            FREE Service and remain free till end. We wish you a Happy and safe Teaching</p>
                    </div>

                    <div class="col-md-3 ml-auto">
                        <h3>Links</h3>
                        <ul class="list-unstyled footer-links">
                            <li><a href="{% url 'clghome' %}">Home</a></li>
                            <li><a href="{% url 'dashboard' %}">dashboard</a></li>
                            {% if user.userpermission.teachercheck %}
                            <li><a class="my-1 d-inline-block" href="{% url 'attendencepage' %}">Attendence Sheet</a></li>
                            {% else %}
                            <li><a class="my-1 d-inline-block" href="{% url 'attendencepage' %}"> View Attendence </a></li>
                            {% endif %}
                            <!-- <li><a href="#">Teachers</a></li> -->
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h3>Subscribe</h3>
                        <p>To Get the Notificatons for the Update from our Website </p>
                        <form action="#" class="footer-subscribe">
                            <div class="d-flex mb-5">
                                <input type="text" class="form-control rounded-0" placeholder="Email">
                                <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
                            </div>
                        </form>
                    </div>

                </div>

                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-5">
                            <p>

                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | This is made with L<i class="icon-heart" aria-hidden="true"></i>VE and care by <a href="{% url 'clghome' %}">edufusion.me</a>

                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </footer>



    </div>
    <!-- .site-wrap -->

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>


    <script src="{% static 'js/main.js' %}"></script>


    <script src="{% static 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' %}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</body>

</html>