{% extends 'cbase.html' %} {% block ad %} {% load static %} {% for m in material %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="intro-section single-cover" id="home-section">

            <div class="slide-1 " style="background-image: url('{% static 'images/img_2.jpg' %}');" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="row justify-content-center align-items-center text-center">
                                {% for te in teacher %}
                                <div class="col-lg-6">
                                    <h1 data-aos="fade-up" data-aos-delay="0">{{te.first_name}} {{te.last_name}}</h1>
                                    <p data-aos="fade-up" data-aos-delay="100">Lessons / Week &bullet; 2,193 students </p>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pl-lg-5 mt-2" style="float:right;">

            <div class="mb-5 text-center border rounded course-instructor">
                <h3 class="mb-5 text-black text-uppercase h6 border-bottom pb-3">Course Instructor</h3>
                <div class="mb-4 text-center">
                    <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="w-25 rounded-circle mb-4">
                    <h3 class="h5 text-black mb-4">Christine Downeyy</h3>
                    <p>Lorem ipsum dolor sit amet sectetur adipisicing elit. Ipsa porro expedita libero pariatur vero eos.</p>
                </div>
            </div>

        </div>
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5">

                        <div class="mb-5">
                            <!-- <h3 class="text-black">Description</h3>
                            {% for d in desc %}
                            <p class="mb-4">
                                <strong class="text-black mr-3">Days: </strong> {{d.days}}
                            </p>
                            <p class="mb-4">
                                <strong class="text-black mr-3">Schedule: </strong> {{d.start_time}} ~ {{d.end_time}}
                            </p>
                            <p>{{d.desc}}
                            </p>
                            {% endfor %}
                            <!-- <div class="row mb-4"> -->

                        </div>
                        <span><h3>Title</h3></span>
                        <h3> {{ m.unid.title }} </h3>
                        <span><h4>Subject</h4></span>
                        <h4> {{ m.unid.subject }} </h4>
                        <p> {{ m.unid.desc }} </p>
                        <div class="col-md-6">
                            <!-- 4:3 aspect ratio -->
                            <!-- <div style="width: fit-content;"> -->
                            <div class="embed-responsive embed-responsive-4by3">
                                <!-- <iframe class="embed-responsive-item" src="..."></iframe> -->
                                <embed src="{{ m.file.url }}" class="img-fluid rounded embed-responsive-item">
                            </div>
                            <!-- </div> -->

                        </div>
                        <!-- modal start -->


                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalYT">Preview</button>
                        <!--Modal: Name-->
                        <div class="modal fade" id="modalYT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">

                                <!--Content-->
                                <div class="modal-content">

                                    <!--Body-->
                                    <div class="modal-body mb-0 p-0">

                                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                            <embed class="embed-responsive-item" src="{{ m.file.url }}" allowfullscreen></embed>
                                        </div>

                                    </div>

                                    <!--Footer-->
                                    <div class="modal-footer justify-content-center">
                                        <span class="mr-4" style="color: black;">Spread the word!</span>
                                        <span class="mr-4" style="color: black;">edufusion.me</span>

                                        <a type="button" class="btn-floating btn-sm btn-fb">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <!--Twitter-->
                                        <a type="button" class="btn-floating btn-sm btn-tw">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <!--Google +-->
                                        <a type="button" class="btn-floating btn-sm btn-gplus">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                        <!--Linkedin-->
                                        <a type="button" class="btn-floating btn-sm btn-ins">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>

                                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                                    </div>

                                </div>
                                <!--/.Content-->

                            </div>
                        </div>




                        <!-- modal ends -->
                    </div>



                    <div class="pt-5">
                        <h3 class="mb-5">6 Comments</h3>
                        <ul class="comment-list">

                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="{% static 'images/img_2.jpg' %}" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>Jean Doe</h3>
                                    <div class="meta">January 9, 2018 at 2:21pm</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus,
                                        nihil?
                                    </p>
                                    <p><a href="#" class="reply">Reply</a></p>
                                </div>
                            </li>

                        </ul>
                        <!-- END comment-list -->

                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Leave a comment</h3>
                            <form action="#" class="p-5 bg-light">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" class="form-control" id="website">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn btn-primary">
                                </div>

                            </form>
                        </div>
                    </div>



                </div>
                <!-- ##### -->
            </div>
        </div>
    </div>

    <div class="site-section courses-title bg-dark" id="courses-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">More Courses</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section courses-entry-wrap" data-aos="fade" data-aos-delay="100">
        <div class="container">
            <div class="row">

                <div class="owl-carousel col-12 nonloop-block-14">

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">$20</span>
                            <div class="meta"><span class="icon-clock-o"></span>4 Lessons / 12 week</div>
                            <h3><a href="#">Study Law of Physics</a></h3>
                            <p>Lorem ipsum dolor sit amet ipsa nulla adipisicing elit. </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> 2,193 students</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">$99</span>
                            <div class="meta"><span class="icon-clock-o"></span>4 Lessons / 12 week</div>
                            <h3><a href="#">Logo Design Course</a></h3>
                            <p>Lorem ipsum dolor sit amet ipsa nulla adipisicing elit. </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> 2,193 students</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">$99</span>
                            <div class="meta"><span class="icon-clock-o"></span>4 Lessons / 12 week</div>
                            <h3><a href="#">JS Programming Language</a></h3>
                            <p>Lorem ipsum dolor sit amet ipsa nulla adipisicing elit. </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> 2,193 students</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>
                        </div>
                    </div>



                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">$20</span>
                            <div class="meta"><span class="icon-clock-o"></span>4 Lessons / 12 week</div>
                            <h3><a href="#">Study Law of Physics</a></h3>
                            <p>Lorem ipsum dolor sit amet ipsa nulla adipisicing elit. </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> 2,193 students</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="images/img_5.jpg" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">$99</span>
                            <div class="meta"><span class="icon-clock-o"></span>4 Lessons / 12 week</div>
                            <h3><a href="#">Logo Design Course</a></h3>
                            <p>Lorem ipsum dolor sit amet ipsa nulla adipisicing elit. </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> 2,193 students</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="course-single.html"><img src="images/img_6.jpg" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">$99</span>
                            <div class="meta"><span class="icon-clock-o"></span>4 Lessons / 12 week</div>
                            <h3><a href="#">JS Programming Language</a></h3>
                            <p>Lorem ipsum dolor sit amet ipsa nulla adipisicing elit. </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users"></span> 2,193 students</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>
                        </div>
                    </div>

                </div>



            </div>
            <div class="row justify-content-center">
                <div class="col-7 text-center">
                    <button class="customPrevBtn btn btn-primary m-1">Prev</button>
                    <button class="customNextBtn btn btn-primary m-1">Next</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endfor %} {% endblock %}