{% extends 'cbase.html' %} {% block ad %} {% load static %}
<br>

<style>
    .widget.user .image img {
        width: 157px;
        height: 157px;
        border-radius: 100%;
        border: 7px solid #dedede;
    }
    
    #mg:hover {
        color: cornsilk;
        background-color: darkblue;
    }
    
    .wer {
        background-color: greenyellow;
        color: black;
        margin-top: 2em;
    }
</style>
<section class="wer">
    <h2> {{ success }} </h2>
</section>
<section class="user-profile section mt-5">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                <div class="sidebar">
                    <!-- Dashboard Links -->
                    <div class="widget dashboard-links">
                        <ul>
                            <li><a class="my-1 d-inline-block" href="{% url 'up' %}">Course Update</a></li>
                            <li><a class="my-1 d-inline-block" href="">Profile </a></li>
                            <li><a class="my-1 d-inline-block" href="">My Materials <span>(3)</span></a></li>
                            <!-- <li><a class="my-1 d-inline-block" href="">Recommended</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                <!-- Edit Profile Welcome Text -->
                <div class="widget welcome-message">
                    <h2>Dashboard</h2>
                </div>
                <!-- Edit Personal Info -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget personal-info">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}