{% extends 'cbase.html' %} {% block ad %} {% load static %}{% csrf_token %}

<style>
    #id_file {
        background-color: blue;
        width: max-content;
        border-radius: 23px;
        color: cornsilk;
        height: 2em;
    }
    
    #rf {
        background-color: rgba(128, 128, 128, 0.349);
        border: 2px dashed rgb(243, 237, 237);
        /* width: max-content; */
        /* position: absolute; */
    }
</style>


<br><br>
<section class="ad-post bg-gray py-5" style="height: max-content;">
    <div align='center' id="rf" style="margin-bottom: 1px;">
        <a style="color: black;"><b>Qunic Id: </b></a>
    </div>
    <form method="post" enctype="multipart/form-data" action="{% url 'uploaddone' %}" autocomplete="off">{% csrf_token %}
        <div class="choose-file text-center my-4 py-4 rounded" id="rf">
            <label>
                <select name="uid" style="width: 50%;" >
                    
                    <option value="{{ id }}" selected hidden active >{{id}}</option>
                </select>
                <select name="teacheremail" style="width: 50%;" >
                    <option value="{{ user.username }}" selected hidden active >{{user.username}}</option>
                </select>
            </label>
            <br>

            <label for="file-upload">
                        <span class="d-block font-weight-bold text-dark"><h2>Upload Ad. Image here:</h2></span>
                        <span class="d-block"></span>
                        <div class="d-block text-white my-3 select-files" align= 'center' >
                            {{form.as_p}}
                        </div>
                        <span >Select files</span>
                        <span class="d-block">Maximum upload file size: 500 KB</span><br>
                        <!-- <input type="file" class="form-control-file d-none" id="file-upload" name="file" required> -->
                      
                   
                </label>


        </div>

        <!-- submit button -->

        <div align='center'>
            <div class="checkbox d-inline-flex" align='center'>
                <input type="checkbox" id="terms-&-condition" class="mt-1" required>
                <label for="terms-&-condition" class="ml-2">By click you must agree with our
                        <span> <a class="text-success" href="terms-condition.html">Terms & Condition and Posting Rules.</a></span>
                    </label>
            </div>
            <button type="submit" class="btn btn-primary d-block mt-2">Post Your Material</button>
        </div>
    </form>


</section>


{% endblock %}