{% extends 'cbase.html' %} {% block ad %} {% load static %}{% load filterlist %}
<br>
<style>
    .widget.user .image img {
        width: 157px;
        height: 157px;
        border-radius: 100%;
        border: 7px solid #dedede;
    }
    
    #mg:hover {
        color: cornsilk;
        background-color: darkblue;
    }
</style>
<section class="user-profile section mt-5">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user">
                        <!-- User Image -->
                        <div class="image d-flex justify-content-center mt-2">
                            <img src="{% static 'images/person_1.jpg' %} " alt="" class="">
                        </div>
                        <!-- User Name -->
                        <h5 class="text-center">{{user.first_name}} {{user.last_name}}</h5>
                    </div>
                    <div class="widget ">
                        <ul style="list-style: none;">
                            <li>
                                <h4>Account Details</h4>
                            </li>
                            <li>
                                <h5>Email: </h5>
                                <p> {{user.username}} </p>
                            </li>
                            <li class="nav-link">
                                <a href="{% url 'signout' %}">Sign out</a>
                            </li>
                            {% if not user.userpermission.teachercheck %} {% studentdetail user.username as p %}
                            <li>
                                <h5>Teachers Registered with : </h5>
                                {% for x in p %}
                                <span> {{x.temail|truncatechars:20}} </span><br> {% endfor %}
                            </li>

                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                <!-- Edit Profile Welcome Text -->
                <div class="widget welcome-message">
                    <h2>Edit profile</h2>
                    <p>Make the basic Changes to be displayed to public when they visit the website for the course material and notes according to your needs.</p>
                </div>
                <!-- Edit Personal Info -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget personal-info">
                            <h3 class="widget-header user">Edit Personal Information</h3>
                            <form action="{% url 'profileupdate' %}" method="POST">{% csrf_token %}
                                <!-- First Name -->
                                <div class="form-group">
                                    <label for="first-name">First Name</label>
                                    <input type="text" name="fname" placeholder="{{ user.first_name }}" class="form-control" id="first-name">
                                </div>
                                <!-- Last Name -->
                                <div class="form-group">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" name="lname" placeholder="{{ user.last_name }}" class="form-control" id="last-name">
                                </div>
                                <!-- <div class="form-group">
                                    <label for="comunity-name">College</label><br>
                                    <label></label>

                                </div> -->
                                <!-- Submit button -->
                                <button class="btn btn-transparent" type="submit" id="mg">Save My Changes</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Change Password -->
                        <div class="widget change-password">
                            <h3 class="widget-header user">Edit Password</h3>
                            <label style="color: blue;">Contact Admin to request PASSWORD Change or Contact your Teacher</label>

                            <form action="#">
                                <!-- Current Password -->
                                <div class="form-group">
                                    <label for="current-password">Current Password</label>
                                    <input type="password" class="form-control" id="current-password" disabled>
                                </div>
                                <!-- New Password -->
                                <div class="form-group">
                                    <label for="new-password">New Password</label>
                                    <input type="password" class="form-control" id="new-password" disabled>
                                </div>
                                <!-- Confirm New Password -->
                                <div class="form-group">
                                    <label for="confirm-password">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirm-password" disabled>
                                </div>
                                <!-- Submit Button -->
                                <button class="btn btn-transparent" disabled>Change Password</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Change Email Address -->
                        <div class="widget change-email mb-0">
                            <h3 class="widget-header user">Edit Email Address</h3>
                            <label style="color: blue;">Contact Admin to request Email Update</label>

                            <form action="#">
                                <!-- Current Password -->
                                <div class="form-group">
                                    <label for="current-email">Current Email</label>
                                    <input type="email" class="form-control" id="current-email" disabled>
                                </div>
                                <!-- New email -->
                                <div class="form-group">
                                    <label for="new-email">New email</label>
                                    <input type="email" class="form-control" id="new-email" disabled>
                                </div>
                                <!-- Submit Button -->
                                <button class="btn btn-transparent" disabled>Change email</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}